@import "../assets/styles/variables";
div.box-info {
  margin-top: 10px;
  h1 {
    color: $primary;
    font-size: 1.8em;
  }
  .box-text {
    svg {
      font-size: 5em;
      color: $primary;
      float: left;
      padding: 10px;
    }
    span {
      font-size: 13px;
    }
  }
}
form {
  border-top: 1px solid $light-grey;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
}